.mapContainer {
  align-content: center;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

.mapCell {
  padding: 8px;
  margin: auto;
  border: 1px solid;
  border-color: whitesmoke;
}

.mapCell:hover {
  border-color: lightslategray;
}

.targetedMapLocation {
  transition: border-color 2.0s ease;
  border-color: red;
}

.mapLocationDraggedOver {
  transition: border-color 0.25s ease;
  background-color: lightskyblue;
}
.computerMapContainer {
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
}

.nukedOnce {
  transition: background-color 2.0s ease;
  background-color: pink;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(235, 57, 86);
    color: rgb(80, 3, 3);
    box-shadow:
    /*0 0 60px 30px #fff,*/  /* inner white */
    /*0 0 100px 60px #f0f,*/ /* middle magenta */
    /*0 0 140px 90px #0ff; */ /* outer cyan */
    0 0 6px 3px rgb(228, 212, 212),  /* inner white */
    0 0 8px 4px rgb(233, 191, 205), /* middle magenta */
    0 0 10px 7px rgb(167, 9, 35); /* outer cyan */
}

.nukedTwice {
  transition: background-color 3.0s ease;
  background-color: palevioletred;
}

.nukedThrice {
  transition: background-color 5.0s ease;
  background-color: red;
}

.activatedBase {
  transition: background-color 2.0s ease;
  /* transition: opacity 2.0s ease; */
  background-color: greenyellow;
  /* opacity: 1; */
  /* background: radial-gradient(circle, red, yellow, green);  */

}

.passiveRadarPulseUp {
  transition: background-color 4.0s ease;
  background-color: gainsboro;
}

.passiveRadarPulseDown {
  transition: background-color 4.0s ease;
  background-color: white;
}

.activeRadarPulseUp {
  transition: background-color 4.0s ease;
  background-color: aqua;
}

.activeRadarPulseDown {
  transition: background-color 4.0s ease;
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
