body {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: gray;
  color: #FFB000;
  width: 1292px;
  -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
  /* box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75); */
  box-shadow: inset 0 0 0 -1px red
}


.allowedBase {
  cursor: grab;
}

.mapContainer {
  /* align-content: center; */
  /* margin: auto; */
  /* padding-left: 20px; */
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  align-content: center;

}

.gameBuildInformation { 
  position:absolute;                  
  bottom:0;                          
  left:0;                          
  padding-bottom: 20px;
  padding-left: 20px;
  color: black;
} 

.playerMapContainer {
  max-width: 400px;
  margin: auto;
  align-content: center;
}

.gameUILeftZone, .gameUIMiddleZone, .gameUIRightZone {
  width: 200px;
  margin: auto;
  align-content: center;
}

.gameUIMiddleZone {
  height: 700px;
  max-height: 700px;
  padding-right: 20px;
}

.baseActivatorContainer, .gameLogContainer {
  max-height: 300px;
  min-height: 300px;
  height: 300px;
  overflow-y: auto;
}

.mapRow {
  display: table-row;
}

.gameYearContainer {
  height: 30px; /* need a fixed height to avoid flicker */
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.gameDefaults {
  color: #FFB000;
  background-color: black;
}

.mapSummaryContainer {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.computerPlayerZone {
  float: right;
  padding-right: 20px;
}

.gameContainer {
  -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.playerName {
  padding-bottom: 10px;
  font-weight: 700;
}

.leftZone {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.rightZone {
  padding-right: 20px;
  float: right;
}

.mapCell {
  padding: 8px;
  margin: auto;
  border: 1px solid;
  xfont-size: 80px;
  border-color: rgb(34, 34, 34);
}


.mapCell:hover {
  border-color: #00ff66;
}

.targetedMapLocation {
  transition: border-color 2.0s ease;
  border-color: red;
}

.mapLocationDraggedOver {
  transition: border-color 0.25s ease;
  background-color: lightskyblue;
}

.nukedOnce {
  transition: background-color 2.0s ease;
  background-color: pink;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(235, 57, 86);
    color: rgb(80, 3, 3);
    box-shadow:
    /*0 0 60px 30px #fff,*/  /* inner white */
    /*0 0 100px 60px #f0f,*/ /* middle magenta */
    /*0 0 140px 90px #0ff; */ /* outer cyan */
    0 0 6px 3px rgb(228, 212, 212),  /* inner white */
    0 0 8px 4px rgb(233, 191, 205), /* middle magenta */
    0 0 10px 7px rgb(167, 9, 35); /* outer cyan */
}

.nukedTwice {
  transition: background-color 3.0s ease;
  background-color: palevioletred;
}

.nukedThrice {
  transition: background-color 5.0s ease;
  background-color: red;
}

.activatedBase {
  transition: background-color 2.0s ease;
  /* transition: opacity 2.0s ease; */
  background-color: rgb(44, 71, 2);
  /* opacity: 1; */
  /* background: radial-gradient(circle, red, yellow, green);  */

}

.selectableBase {
  width: 15px;
  height: 15px;
  padding-right: 10px;
  margin-bottom: -2px;
}

.passiveRadarPulseUp {
  transition: background-color 4.0s ease;
  background-color: gainsboro;
}

.passiveRadarPulseDown {
  transition: background-color 4.0s ease;
  background-color: white;
}

.activeRadarPulseUp {
  transition: background-color 4.0s ease;
  background-color: aqua;
}

.activeRadarPulseDown {
  transition: background-color 4.0s ease;
  background-color: white;
}

.visibilityCount {
  vertical-align: super;
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFB000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
